/*{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:150px}*/

meta {}

body {
	margin: 0;
	background-color: #efefef;
}

p {
  line-height: 1.2em;
}

#first {
	border-top: 1px #DDD solid;
}

#last {
	border-bottom: 1px #DDD solid;
}

#logo-img {
	opacity: 1;
}

#user-interactions {
	opacity: 1;
}

logo-text {
	font-size: 40px;
	font-family: "Lucida Console", monaco, monospace;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	background-color: transparent;
}

img.logo {
	width: 128px;
	height: 128px;
	position: absolute;
	left: 1em;
	top: 1em;
	opacity: 1;
	background-color: transparent;
}

a {
	text-decoration: none;	
	background-color: transparent;
}

a.img {
	width: 148px;
	height: 148px;
	float: left;
	background-color: transparent;
}

a.logo {
	color: gold;
	clear: left;
	position: absolute;
	bottom: 0px;
	float: left;
	left: 35%;
	padding-top: 8px;
	text-shadow:
		2px 2px 0 #222,
		-1px -1px 0 #222,  
		1px -1px 0 #222,
		-1px 1px 0 #222,
		1px 1px 0 #222;
}

.nav-link {
	color: grey;
}

.nav-link:hover {
	color: gold;
}

hr {
	background-color: #9f9f9f;
}

ul {
	font-size: 14px;
	line-height: 1em;
	list-style: none;
	padding: .1em 0px;
	margin-top: .1em;
	margin-bottom: .1em;
}

ul.nav-bar {
	background-color: white;
	margin-left:auto;
	margin-right:auto;
	font-size: 16px;
	font-family: monospace;
	border-collapse: collapse;
	left: 50%;
	right: 50%;
}

li.nav-bar {
	padding: .5em 1em;
	border-left: .1em solid #9f9f9f;
	border-right: .1em solid #9f9f9f;
	display: inline;
	margin-left: -.1em;
}

li.nav-bar:hover {
	background-color: #f5f5f5;
}

li.nav-bar.current {
	background-color: #f5f5f5;
}

ul.user-interaction {
	float: right;
	font-size: 12px;
	font-family: monospace;
	border-collapse: collapse;
	margin: .5em;
	opacity: 1;
}

ul.user-interaction.top {
	height: 1em;
}

ul.user-interaction.bottom {
	float:left;
	text-align: center;
	height: 1em;
	margin-bottom: .5em;
}

li.user-interaction {
	padding: .25em .75em;
	border-left: .1em solid #9f9f9f;
	border-right: .1em solid #9f9f9f;
	display: inline;
	margin-left: -.14em;
}

div.top-window {
	overflow: hidden;
	min-height: 128px;
	position: relative;
}

.top-background {
	float: left;
	/*opacity: .25;*/
	background-position: left;
	width:100%;
	min-height: 128px;
}

#login {
	display: none;
}

#signUp {
	display: none;
}

#contact {
	display: none;
	text-align: center;
}

.top-background.index {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(239, 239, 239, 1)), url('resources/index.jpg');
	/*background-image: url('resources/index.jpg');*/
	background-size: cover, cover;
	background-repeat: no-repeat;
}

.top-background.intl {
	background-image:  linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(239, 239, 239, 1)), url("/resources/intl_globe.jpg");
	background-size: cover, cover;
	background-repeat: no-repeat;
}

.top-background.country {
	background-image:  linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(239, 239, 239, 1)), url("/resources/world-flag-map.jpg");
	background-size: cover, cover;
	background-repeat: no-repeat;
}

.top-background.resources {
	background-image:  linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(239, 239, 239, 1)), url("/resources/resources.jpg");
	background-size: cover, cover;
	background-repeat: no-repeat;
}

.top-background.about {
	background-image:  linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(239, 239, 239, 1)), url("/resources/index.jpg");
	background-size: cover, cover;
	background-repeat: no-repeat;
}

div.nav-bar {
	background-color: white;
	text-align:center;
	font-size: 16px;
	font-family: monospace;
}

div.main {
	color: #111111;
	padding: 5px 10px;
	line-height: 25px;
	border-left: 1px #DDD solid;
	border-right: 1px #DDD solid;
	min-height: 60%;
}

div.main.content {
	background-color: white;
	font-size: 14px;
	font-family: Helvetica;
	text-align: left;
	float: left;
	width: 70%;
	height: auto;
}

div.main.side-panel {
	background-color: white;
	font-size: 14px;
	font-family: Helvetica;
	border: 0px;
	text-align: center;
	float: right;
	width: 25%;
	height: 35%;
	overflow: scroll;
}

div.footer {
	float: left;
	background-color: white;
	text-align: center;
	font-size: 10px;
	position: static;
	margin-left: auto;
	margin-right: auto;
	left: 1em;
	width: 100%;
}

#footer {
	position: relative;  
	left: 0;
	bottom: 0;
	width: 100%;
}

.link-logo-text {
	text-align: center;
	font-size: 24px;
	background-color: transparent;
	/*font-family:*/
	
}

.highlight {
	background-color: yellow;
}

.delete {
	text-decoration: line-through;
}

/* Popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #f1f1f1;
  z-index: 1;
}

.form-coverer {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-coverer input[type=text], .form-coverer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  max-width: 320px;
 /* width: 80%; */
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancel {
  background-color: #be0000;	
}

.error {
  color: #be0000;
}

@media screen and (max-width:480px){
	div.top-window > a.img{
		display:none;
	}
	div.top-window > a.logo{
		left: 0%
	}
}


@media screen and (max-width:333px){
	div.top-window > ul.user-interaction{
		display:none;
	}
}
